<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form action="/candles" method="POST">
            <p>Enter the number of candles you would like to see</p>
            <input type="text" name="number">
            <input type="submit" value="Send">
        </form>
    </body>
</html>